[submodule "geheim"]
	path = geheim
	url = ssh://aur@aur4.archlinux.org/geheim.git
[submodule "python-osdetect"]
	path = python-osdetect
	url = ssh://aur@aur4.archlinux.org/python-osdetect.git
[submodule "archlinux-static-ip"]
	path = archlinux-static-ip
	url = ssh://aur@aur4.archlinux.org/archlinux-static-ip.git
[submodule "python2-osdetect"]
	path = python2-osdetect
	url = ssh://aur@aur4.archlinux.org/python2-osdetect.git
